.sidebar
    background-color #1f2637
    width 200px

.side-block
    background-color #1f2637
    padding 20px
    display flex
    justify-content center
    align-items center

.list-group
    padding-top 10px
    padding-bottom 10px

.list-item
    color #78829d
    background-color #1f2637
