// ==================================
// Typography
// ==================================
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base = 'Myriad Pro'

// Colors
$color-base = #0090f5
$color-white = #fff
$color-heading = #515769
$color-subtitle = #a6a7aa
$color-link = #81848f
$color-link-hover = #999caa
$color-sky-light = #fafafa
$color-dark = #141824
$color-dark-blue = #1f2637
$color-grey-blue = #2f364a
$color-text-grey = #78829d
$color-gradient = linear-gradient(100deg, #0090f5, #00ecbc)
$color-gray = #e4e4e4; // Spacer
$ver-center-block-height = 400px
$color-link-hover-gradient = linear-gradient(to right, #185a9d 0%, #43cea2 100%)

// ==================================
// Media queries breakpoints
// ==================================
//
//Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min = 480px

// Small screen / tablet
$screen-sm-min = 768px

// Medium screen / desktop
$screen-md-min = 992px

// Large screen / wide desktop
$screen-lg-min = 1200px

// Large scree / wider desktop
$screen-lg-med = 1260px

// So media queries don't overlap when required, provide a maximum
$screen-xs-max = ($screen-sm-min - 1)
$screen-sm-max = ($screen-md-min - 1)
$screen-md-max = ($screen-lg-min - 1)