.container-main
    margin-top 47px
    display flex
    min-height 100vh

.hr-sidebar
    width 100%
    height 4px
    border-top 1px solid #141824
    border-bottom 1px solid #282f41
    background-color #19202e
    margin 0