.header
    background-color #2f364a
    height 47px
    position fixed
    text-align center
    line-height 47px
    width 100%
    top 0
    left 0
    right 0

.title
    font-size 16px
    color #78829d
    line-height 47px